# Disable directory browsing
Options -Indexes

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# No need for complex rewrite rules since we're using query strings